<script setup>
import {watchDebounced} from "@vueuse/core";

const name = ref('')
const {data, refresh} = useAsyncData(`search-${name.value}`, () => $fetch('/api/lta', {params: {name: name.value}}))

watchDebounced(name, refresh)
</script>

<template>
    <div class="flex border-b-1 border-slate-300 py-2 px-4 justify-between items-center font-sans">
        <div class="flex gap-3 items-center">
            <span class="font-semibold text-xl text-slate-800">Travelah</span>
        </div>
    </div>

    <main class="container mx-auto p-5 md:p-10 lg:p-20 font-sans">
        <input type="text" v-model="name" class="border-1 p-3 border-slate-200">

        <table>
            <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Road
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="{item: {BusStopCode, RoadName, Description}} in data">
                <td>{{ BusStopCode }}</td>
                <td>{{ RoadName }}</td>
                <td>{{ Description }}</td>
            </tr>
            </tbody>
        </table>
    </main>
</template>
